@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: content-box;
}

.custom-dark {
  background-color:#121212 !important; 
  color:#e5e7eb !important;
}