@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: content-box;
}

.custom-dark {
  background-color:#121212 !important; 
  color:#e5e7eb !important;
}

/* Maybe the hover for each project's box isn't necessary */
/* .hover-scale:hover {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
} */

.badge:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
  transition: all 0.2s ease;
}